
body{


    margin: 0;
    padding: 0;


}
img{
    border: 0;
}
li{

    list-style: none;
    /*padding: 0 14px;*/

}
a{
    text-decoration: none;
    color: #bbbbbb;
}

.upright{
    text-align: center;
}
#upleft{
    width: 1250px;
    line-height: 32px;
    margin: 0 auto;
    height: 100%;

}

#title{

    height: 32px;
    font-size: 12px;
    color: #999;
    background: #f2f2f2;
    border-bottom: 1px solid #e5e5e5;

}
.tmall{
    float: left;
    color: #bbb;

}
.downleft{


    height: 130px;
    padding-left: 0px;
    margin-top: 0px;
    margin-bottom: 0px;

}
input{
    width: 483px;
    height: 26px;
    position: relative;
    border: none;
    padding: 5px 3px 5px 5px;
    outline: none;
    /*去掉输入框选中时的蓝色边框*/





}
button{
    width: 132px;
    height: 36px;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: 5px;
    background: #ff0036;
    color: white;
    overflow: hidden;
    cursor: pointer;
    position: absolute;
    border: 0px;
    top: 0px;
    right: 0px;
    outline: none;
}




.input{
    height: 106px;
}
.form{
    width: 621px;
    height: 36px;
    position: absolute;
    left: 350px;
    top: 74px;
    border-style: solid;
    border-color: #ff0036;
    border-width: 2px;
    padding-left: 0px;
}
.downleft label{

    color: #666;
    font-size: 14px;
    line-height: 36px;
    height: 30px;
    position: absolute;
    left: 8px;
    top: 1px;
    z-index: 1;
    cursor: auto;
    visibility: visible;


}


.form{

}

.downleft img{
    position: relative;
}
.input-down{
    position: absolute;
    top: 120px;
    left: 312px;

}
.input-down li{
    display: inline-block;
    font-size: 15px;
    padding-right: 8px;
    padding-left: 8px;
    border-right: #f2f2f2;
    border-width: 0px 1px 0px 0px;
    border-style: solid;
}
.input-down .none{
    border-style: none;
}
.input-down .red a{
    color: red;
}
.input-down a{

}









.menu{
    width: 90px;

}
.upright{
    float: right;

}
.aa{

    cursor: pointer;
    float: left;
    padding: 0 14px;


}
.bb{
    position: relative;
    border-width: 0 1px 0 1px;
    border-style: solid;
    border-color: transparent;
    padding-bottom: 1px;

}
.cc{

    height: 32px;
}
#title .dd:hover {
    color: red;
    text-decoration: underline;



}
.upright .triangle::after{
    content: ' ';
    width: 0;
    border-style: solid;
    border-width: 3px;
    border-color: #bbb transparent transparent transparent;
    position: absolute;
    right: 6px;
    top: 16px;
    transform-origin: 3px 1.5px;
    transition: none;
}
.upright .triangle{
    position: relative;
}
.upright .aa:hover::after{
    transform: rotate(180deg);
    transition: transform .3s ease;
}

.upright .submenu {
    width: 100px;
    position: absolute;
    left: -1px;
    bottom: -65px;
    border: 1px solid #eee;
    border-top-width: 0px;
    z-index: 1;
    background-color: #ffffff;
    padding: 0px 0px;
    display: none;



}
.upright .shoucang{
    width: 90px;
    position: absolute;
    left: -1px;
    bottom: -65px;
    border: 1px solid #eee;
    border-top-width: 0px;
    z-index: 1;
    background-color: #ffffff;
    padding: 0px 0px;
    ;
    display: none;
}

.upright .aa:hover .submenu{
    display: block;
}
.upright .aa:hover .shoucang{
    display: block;
}

.aa .submenu:hover > a{
    color: red;
}
.aa:hover > a{
    color: #f00;
}


.upright .bb:hover{
    background: #ffffff;
    border-color: transparent #f2f2f2 ;

}


.upright .dd a:hover{
    text-decoration: underline;
    color: #f00;}

.upright .shangjia {
    width: 141px;
    position: absolute;
    left: -66px;
    bottom: -162px;
    border: 1px solid #eee;
    border-top-width: 0px;
    z-index: 1;
    background-color: #ffffff;
    padding: 0px 0px;
    display: none;
}


.shangjia{
    line-height: 23px;
    text-align: left;
    position: relative;



}

.left{
    padding-left: 10px;
    padding-right: 10px;
}
.right{
    padding-right: 10px;
    padding-left: 10px;
}
.aa .shangjia span{
    color: black;
    cursor: auto;
    padding-left: 10px;
}
.upright .aa:hover .shangjia{
    display: block;
}
.wangzhan{
    width: 1234px;
    position: absolute;
    left: -1159px;
    bottom: -161px;
    border: 1px solid #eee;
    border-top-width: 0px;
    z-index: 1;
    background-color: #ffffff;
    padding: 0px 0px;
    display: none;
    height: 160px;
    text-align: left;




}
.wangzhan a {
    color: black;
}
.fuwu{

    float: right;
    margin-right: 40px;
    width: 210px;

}
.text-one{
     cursor: auto;
     color: black;
     padding-left: 30px;
     font-size: 15px;
     padding-top: 15px;
 }
.left-title{

    padding-right: 30px;
    padding-left: 30px;


}
.right-title{
    padding-left: 20px;

}
.upright .ee:hover >a{
    color: #bbbbbb;
}
.wangzhan a:hover {
    text-decoration: underline;
}
.bb .title:hover{
    color: #bbbbbb;


}

.hangye{
    float: right;
    width: 420px;


}
.text-two{
    cursor: auto;
    color: #2263d4;
    padding-left: 30px;
    font-size: 15px;
    padding-top: 15px;
}
.hangye .hangye-one{
    padding-left: 30px;
}
.hangye .hangye-two{
    padding-left: 55px;
}


.hangye a:hover {
    text-decoration: underline;
    color: #2263d4;
}


.redian{
    float: right;


}
.text-three{
    cursor: auto;
    color: #f56a00;

    font-size: 15px;
    padding-top: 15px;
}
.redian-one{
    margin-right: 40px;
}
.redian-two{
    margin-right: 40px;
}
.redian-three{
    margin-right: 52px;
}
.redian-four{
    margin-right: 28px;
}
.redian a:hover {
    text-decoration: underline;
    color: #f56a00;
}
.upright .aa:hover .wangzhan{
    display: block;
}
.shuxian{
    position: absolute;
    color: #f2f2f2;
    border-style:solid;
    height: 112px;
    margin-top: 16px;
    border-right-width: 1px;
    border-left-width: 0px;


}
.img{

    background: url(//img.alicdn.com/imgextra/i1/180/TB2jRL0hlyWBuNkSmFPXXXguVXa_!!180-0-luban.jpg_q100.jpg_.webp) no-repeat ;
}