*{
    margin: 0;
    padding: 0;
}
ul{
    list-style: none;
}

#wrapper{
    width: 1002px;
    height: 120px;
    background: #fbd5ff;
    margin: 0 auto;
    position: relative;
    
}
#logo{
    width: 251px;
    height: 120px;
    background: url("../img/logo.jpg");
}
#logo-right li{
    float: left;
    margin: 0 19px 0 25px;
    


}
#logo-right{
    position: absolute;
    left: 334px;
    top: 50%;
    margin-top: -7px;
}
